*{
  margin:0;
  padding:0;
}
body{
  height: auto;
  background-color: #cccccc;
  background-image: linear-gradient(black,lightblue,white);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}

.headerContainer{
  /* background-color: lightblue; */
  /* justify: center; */
  display: flex;
  flex-direction: column;

}
.myName,
.myTitle{
   /* background-color: yellow; */
  color: #cccccc;
  display: flex;
  justify-content: center;
  align-content:stretch;
}

.imageContainer{
  width:auto;
  margin-top: 1.25em;
  /* padding: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;


}
.picOfMe{
  height: 20em;
  width: 20em;

}
.linkContainer{
  height: auto;
  width: auto;
display: flex;
justify-content: center;
align-items: center;
}

.social{
  color: black;
  background-color: inherit;
  font-size: 2em;
  margin:1em 0.25em;
  display: flex;
  align-self: auto;
}
.social:hover{
font-size: 3em;
margin:0 0.25em;
display:flex;
align-self: auto;
}
.techSkillsContainer{
  display: flex;
  align-items: center;
  flex-flow: column;
}
.buttonContainer{
  display: flex;
  align-items: center;
  flex-flow:column;
}
.contactContainer{
  /* background-color: lightblue; */
  margin:2em 0;
  position: sticky;
  display:flex;
  justify-content: center;
  align-content: center;
}
.repoContainer{
  display: flex;
  align-items: center;
  flex-flow:column;
  margin: 2em;  
  padding:0;
}
li{
  list-style-type:none;
  color: black;
  
}
a{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic
}
.contact{
  display:flex;
  justify-content: center; 
  align-content: center;
}
.contactContainer{ 
  position: sticky; 
  display:flex; 
  justify-content:center;
}
.email{
  color: black;
  background-color: inherit;
  font-size: 100%
}
.email:hover{
  font-size:125%;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
